doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='shortcut icon' href='/images/QI-favicon.ico')
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='javascripts/jquery.lettering.js') 
    script(src='javascripts/jquery.textillate.js') 
    script(src='/javascripts/global.js')
    script(src='/javascripts/email.tools.js')
    script(src='/javascripts/quotes.tools.js')
    script(src='/javascripts/general.utils.js')
    script(src='/javascripts/decorative.tools.js')